extends layout

block content 
  .container
    p
      | You have clicked the button 
      span#click-nbr
      |  times.
    br
    .btn-container
      button.btn.btn-add(type='submit') CLICK ME! 
      button.btn.btn-delete RESET
  script(type='text/javascript', src='common/ajax-functions.js')
  script(type='text/javascript', src='controllers/clickController.client.js')
  script(type='text/javascript', src='controllers/userController.client.js')
