extends layout.pug

block content
  ul.collection.with-header
    li.collection-header
      h4 My polls


    each poll in JSON.parse(polls)
      li.collection-item
        div= poll.title
          a.secondary-content(href='#')
            i.material-icons send
