nav
  div(class="nav-wrapper")
    a(href="#" class="brand-logo") Js Voting App 
    a.button-collapse(href='#', data-activates='mobile-demo')
      i.material-icons ...
    ul(id="nav-mobile" class="right hide-on-med-and-down")
      li 
        a.menu(href='#') Welcome, 
          span#display-name  
      li
        a.menu(href='/') Home
      li
        a.menu(href='/my-polls') My polls
      li
        a.menu(href='/new-poll') New poll
      li
        a.menu(href='/profile') Profile
      li
        a.menu(href='/logout') Logout