nav
  div(class="nav-wrapper")
    .container
      a(href="/" class="brand-logo hide-on-small-only hide-on-med-only") Js Voting App
      ul(id="nav-mobile" class="right")
        li.hide
          a.menu(href='/') Welcome,
            span#display-name
        li
          a.menu(href='/') Home
        li.hide
          a.menu(href='/my-polls') My polls
        li.hide
          a.menu(href='/new-poll') New poll
        li.hide
          a.menu(href='/profile') Profile
        li.hide
          a.menu(href='/logout') Logout
        li
          a.menu(href='/auth/github') Login
