extends layout.pug

block content
  ul.collection.with-header
    li.collection-header
      h4 List of all polls


    each poll in JSON.parse(polls)
      li.collection-item
        div= poll.title
          a.secondary-content(href='/' + poll._id)
            i.material-icons send
