extends layout.pug

block content
  ul.collection.with-header
    li.collection-header
      h4 List of all polls 


    li.collection-item Poll1
    // each user in {users}
    //   li.collection-item= user 
